spring:
  application:
    name: springbootdemoapplication
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    show-sql: true
    generate-ddl: true
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: 'update'

server:
  port: 8088
  servlet:
    context-path: /api

logging:
  level:
    root: INFO
    org.springframework: WARN
    org.hibernate.SQL: OFF
  file.name: logs/application.log
